
blockquote {
    /* class="w3-panel w3-leftbar .w3-theme-l5" */
    padding:0.01em 16px;
    margin-top:16px;
    margin-bottom:16px;

    border-left:6px solid #ccc!important;

    color:#000!important;
    background-color:#f8fcfe!important;
}

code {
    background-color: #fafafa;
}

.bg {
    width: 100%;
    height: 300px;
    background-image: url('/assets/architect-small.jpg');
    background-size: cover;
}

/* For width 600px and larger: */
@media only screen and (min-device-width: 600px) {
    .bg {
        width: 100%;
        height: 300px;
        background-image: url('/assets/architect.jpg');
        background-size: cover;
    }
  }