<!DOCTYPE html> 
	<html>
		<head>
			<title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
            <div class="w3-bar w3-theme-d2">
                <a href="/" class="w3-bar-item w3-button">Home</a>
                <a href="/about" class="w3-bar-item w3-button">About</a>
                <a href="/blog" class="w3-bar-item w3-button">Blog</a>
            </div>
			<div class="container">
			
			{{ content }}
			
            </div><!-- /.container -->
            
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>