<!DOCTYPE html> 
	<html>
		<head>
			<title>{{ page.title }}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- link to main stylesheet -->
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
            
            <!-- Navbar (sit on top) -->
            <div class="w3-top">
                <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                    <a href="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i> KOTI</a>
                    <a href="/about" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TIETOA</a>
                    <a href="/blog" class="w3-bar-item w3-button"><i class="fa fa-th"></i> BLOGI</a>
                  </div>
                </div>
            </div>
  
            <!-- Header -->
            <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
                <img class="w3-image" src="/assets/architect.jpg" alt="Arkkitehtuuri" width="1500" height="300">
                <div class="w3-display-middle w3-margin-top w3-center">
                    <h1 class="w3-xxlarge w3-text-white"> 
                        <span class="w3-hide-small w3-text-light-grey">Systeemi</span>
                        <span class="w3-padding w3-black w3-opacity-min"><b>Arkkitehtuuri</b></span>
                    </h1>
                </div>
            </header>

			<div class="w3-container">
			
			{{ content }}
			
            </div><!-- /.container -->
            
            <!-- Footer -->
            <footer class="w3-center w3-theme-d2 w3-padding-64 w3-opacity w3-hover-opacity-off">
                <a href="#home" class="w3-button w3-light-blue"><i class="fa fa-arrow-up"></i> Ylös</a>
                <div class="w3-xlarge w3-section">
                    <i class="w3-btn fa fa-envelope"></i>
                    <i class="w3-btn fa fa-linkedin w3-hover-opacity"></i>
                </div>
                <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-blue">w3.css</a></p>
            </footer>
   
		</body>
	</html>