<!DOCTYPE html> 
	<html>
		<head>
			<title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
            <div class="w3-bar w3-theme-d2">
                <a href="/" class="w3-bar-item w3-button">Home</a>
                <a href="/about" class="w3-bar-item w3-button">About</a>
                <a href="/blog" class="w3-bar-item w3-button">Blog</a>
            </div>
			<div class="w3-container">
			
			{{ content }}
			
            </div><!-- /.container -->
            
			<footer class="w3-container w3-theme-d1>
                <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
                <!--a href="mailto:xxx@gmail.com" class="fa fa-envelope"></a-->
			</footer>
		</body>
	</html>